
This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1 # Addition

2

In [2]:
77*17 # Multiplication

1309

In [3]:
1 / 2 # Division

0.5

In [4]:
2 ** 4 # Exponent

16

In [5]:
4 % 2 # Modulo Operation

0

In [3]:
5 % 2 # Modulo Operation

1

In [ ]:
(2 + 3) * (5 + 5) # Compound Operation

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2 # RHS gets assigned to LHS

In [8]:
box = 2.1
type(box)

float

In [10]:
x = 2
y = 3
type(x)

float

In [8]:
z = x + y

TypeError: can only concatenate str (not "int") to str

In [ ]:
z # Type the name of the object to get the preview of the object.

# Depending upon the object, the output can vary between a simple value and complex data types, 
# addresses, descriptions and more.

In [1]:
a = "Shivangi"
type(a)

str

In [2]:
A = 5
type(A)

int

### Strings

In [1]:
'single quotes'

'single quotes'

In [2]:
"double quotes"

'double quotes'

In [3]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [2]:
string = "Hi shivangi How r you"
type(string)

str

In [9]:
x = 7
x /= 9
print(x)

0.7777777777777778

### Printing

In [11]:
x = 'hello'

In [2]:
x= 2
x +=  4
print(x)

6

In [12]:
x

'hello'

In [13]:
print(x.upper()) # demonstration of the print function. More on functions later. functions are defined
         # in parantheses and contain zero or more parameters.

HELLO

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
[1,2,3] # From here we will be exploring Non Primitive Data types that are special to Python Programming.

In [12]:
list = ["shiv", 2,3, 4, ["hello", True]]
print(list[4][1])

True

In [14]:
l1 = [[1,2,False], 4, 5 , ["shiv", "come", 3, 5,6]]

In [15]:
print(l1[0][1])

2

In [ ]:
list1 = int(input("enter a number"))

In [ ]:
['hi',1,[1,2]] # Lists can take multiple data types and their position in the list is important.

In [1]:
my_list = ['a','b','c'] # string list
print(type(my_list))

<class 'list'>

In [2]:
my_list.append('d') # append function will help add values to the list.

In [3]:
my_list

['a', 'b', 'c', 'd']

In [11]:
my_list[-1] # indexing in lists and all other data types starts with 0

'd'

In [5]:
len(my_list)

4

In [19]:
my_list[1]

'b'

In [8]:
my_list[1:3] # Range based indexing

['b', 'c']

In [21]:
my_list[:1]

['a']

In [9]:
my_list[2] = 'NEW'

In [10]:
my_list

['a', 'b', 'NEW', 'd']

In [25]:
nest = [1,2,3,[4,5,['target']]] # Compound Ranking

In [26]:
nest[3]

[4, 5, ['target']]

In [27]:
nest[3][2]

['target']

In [28]:
nest[3][2][0]

'target'

### Dictionaries

In [14]:
band = {"james" : "guitar", "kirk":"guitar", "jason":"bass", "lars":"drums"}
print(band)

{'james': 'guitar', 'kirk': 'guitar', 'jason': 'bass', 'lars': 'drums'}

In [13]:
keys = band.values()
print(keys)

dict_values(['guitar', 'guitar', 'bass', 'drums'])

In [19]:
band.clear()
print(band)

{}

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [12]:
t = (1,2,True, 2, 2)
t

(1, 2, True, 2, 2)

In [13]:
len(t)

5

In [3]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [15]:
a = ("apple",)
print(type(a))

<class 'tuple'>

In [17]:
a = tuple(("a", 1,2))
print(type(a))

<class 'tuple'>

### Sets

In [10]:
{1,2,3}

{1, 2, 3}

In [5]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [20]:
1 == 1

True

In [21]:
'hi' == 'bye'

False

## Logic Operators

In [22]:
(1 > 2) and (2 < 3)

False

In [23]:
(1 > 2) or (2 < 3)

True

In [25]:
(1 == 2) and (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [28]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 < 2:
    print('yep!')

In [29]:
if 1 < 2:
    print("first")
else:
    print('last')

first

In [33]:
x=2
y=3

if x>y:                         # if statement :
    print ("x is greater than y") #indentation happens automatically in python. 
else:                           #else :
    print("x is not greater than y")

x is not greater than y

In [35]:
x=3
y=3

if x>y:
    print ("x is greater than y")
elif x==y:
    print ("x is equal to y")
else:
    print ("x is less than y")

x is equal to y

## for Loops

In [43]:
list = [1,2,3,4,5]

In [44]:
for a in list: # i is the variable we define which will iterate over the sequence list.
                # variable can be anything but conventionally, i is used for integers and x for string
                # initialization of the variable is done within the for loop and ends when the loop ends
    print(a*88)

88
176
264
352
440

In [60]:
student = ["mark", "rob", "tom", "kevin"]

for name in student:
    print("student name: ", name)

student name:  mark
student name:  rob
student name:  tom
student name:  kevin

In [59]:
for i in range(21, 30): # when range is defined this way, the count starts from 0
    print (i)

21
22
23
24
25
26
27
28
29

## while Loops

In [62]:
count = 10

while (count >0): # checks for the value of count
    print ("the count is: ", count) # executes the task
    count = count -1 # body of the program. when count become zero, the while loop is exited

print("lift off")

the count is:  10
the count is:  9
the count is:  8
the count is:  7
the count is:  6
the count is:  5
the count is:  4
the count is:  3
the count is:  2
the count is:  1
lift off

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']